@import "tailwindcss";

:root {
  --color-main: #f7f8fa;
  --color-white: #ffffff;
  --color-blue: #3361ff;
  --color-gray: #c3cad9;
  --color-green: #29cc39;
  --color-orange: #ff6633;
  --color-teal: #33bfff;
  --color-purple: #8833ff;
  --color-graydark: #adb8cc;
  --color-pink: #e62e7b;
  --color-red: #e62e2e;
  --color-ciandark: #4d5e80;
  --color-cianlight: #7d8fb3;
  --color-bordergray: #edeff2;
  --color-black: #171717;
}

* {
  @apply m-0 p-0 box-border;
}
html,
body {
  @apply w-full h-full bg-[var(--color-main)] select-none text-[var(--color-ciandark)];
}

/* layout-container */
.layout-container {
  @apply w-full h-screen overflow-hidden;
}
.children-container {
  @apply w-full h-full flex flex-col items-center justify-center;
}
/* layout-container */

/* Message-response */
.Message-response-box {
  @apply w-full h-full rounded-md overflow-hidden flex items-start;
}
.response-opener-list-box {
  @apply w-[25%] border-r-[0.125rem] border-[var(--color-bordergray)] h-full flex flex-col overflow-scroll overflow-x-hidden bg-[url("/images/bg.png")] object-cover bg-no-repeat;
}
.response-opener-list-box::-webkit-scrollbar {
  @apply w-0;
}
.reponser-profile {
  @apply w-full flex items-center gap-[0.5rem] py-[1rem] px-[1rem] border-b border-[var(--color-bordergray)] bg-transparent hover:bg-gray-100 transition-all duration-700 ease-in-out text-[0.625rem] text-[var(--color-cianlight)];
}
.reponser-profile picture {
  @apply w-[3rem] h-[3rem] overflow-hidden object-cover border border-[var(--color-gray)] rounded-full px-[0.125rem] pt-[0.25rem];
}
.reponser-profile picture img {
  @apply w-full h-full;
}
.reponser-profile .responser-profiler-detail {
  @apply w-[80%] h-full flex flex-col items-start gap-[0.125rem];
}
.reponser-profile .responser-profiler-detail span {
  @apply w-full flex items-center justify-between gap-[0.5rem] font-bold;
}
.response-messages-writer {
  @apply w-[75%] h-full overflow-hidden bg-[url("/images/bgresponse.png")] object-cover bg-no-repeat;
}
.client-chat-box {
  @apply p-[1rem] text-white flex flex-col gap-[1rem] relative h-full;
}
.reponser-chat-box{
  @apply h-[93%] overflow-scroll overflow-x-hidden w-full gap-[1rem] flex flex-col;
}
.reponser-chat-box::-webkit-scrollbar {
  @apply w-0;
}
.no-client-selected {
  @apply bg-[url("/images/bgresponselight.png")] object-cover bg-no-repeat w-full h-full flex flex-col items-center justify-center text-[1rem] text-[var(--color-ciandark)] p-[1rem];
}
.no-client-selected svg {
  @apply text-[4rem];
}
.no-client-selected p {
  @apply font-bold text-[1.25rem];
}
.message-item {
  @apply bg-white text-[var(--color-ciandark)] w-[20rem] rounded-sm px-[1rem] py-[0.5rem] flex  gap-[0.5rem];
}
.message-item picture {
  @apply flex w-[2rem] h-[2rem] overflow-hidden border border-[var(--color-bordergray)] rounded-full;
}
.message-item picture img {
  @apply w-full h-full;
}
.message-item time {
  @apply text-[0.5rem] font-bold w-full flex flex-col justify-end items-end;
}
.message-box {
  @apply w-[calc(100%-2rem)];
}
.message-box text p {
  @apply text-[0.75rem];
}
.Messageform-writemessage {
  @apply flex items-center justify-start gap-[1rem] absolute bottom-[1rem] left-0 w-full text-[var(--color-ciandark)] text-[0.75rem] px-[1rem];
}
.Messageform-writemessage input {
  @apply outline-none placeholder:text-[0.75rem] w-[95%] bg-[white] pr-[2rem] pl-[0.75rem] py-[0.5rem] rounded-[0.25rem];
}
.Messageform-writemessage button {
  @apply bg-green-600 px-[0.75rem] py-[0.5rem] flex items-center justify-center w-[5%] text-[white] font-bold text-[1rem] rounded-[0.25rem];
}
/* Message-response */
