@import "tailwindcss";

:root {
  --color-main: #f7f8fa;
  --color-white: #ffffff;
  --color-blue: #3361ff;
  --color-gray: #c3cad9;
  --color-green: #29cc39;
  --color-orange: #ff6633;
  --color-teal: #33bfff;
  --color-purple: #8833ff;
  --color-graydark: #adb8cc;
  --color-pink: #e62e7b;
  --color-red: #e62e2e;
  --color-ciandark: #4d5e80;
  --color-cianlight: #7d8fb3;
  --color-bordergray: #edeff2;
  --color-black: #171717;
}

* {
  @apply w-full h-full m-0 p-0 box-border;
}
html,
body {
  @apply w-full h-full bg-[var(--color-main)] text-[var(--color-ciandark)];
}

/* layout-container */
.layout-container {
  @apply w-full h-screen flex flex-col items-center justify-center;
}
/* layout-container */
